
.clients__heading {
    margin-bottom: 50px;
}
.clients__list {
    display: flex;
    gap: 30px;
}
.clients__card {
    flex-basis: calc((100% - 150px) / 6);
    /* width: calc((100% - 150px) / 6); */
    height: 92px;
}
.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--social-links-color);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(.4, 0, .2, 1), fill 250ms cubic-bezier(.4, 0, .2, 1);
}
.clients__link {
    fill: var(--social-links-color);
}
.clients__link:hover,
.clients__link:focus {
    fill: var(--hover-and-focus-color);
    border-color: var(--hover-and-focus-color);
}
