.footer {
    background-color: var(--accent-bgd-color);
    margin: 0 auto;
    padding: 60px 0;
}
.footer__control-box {
    display: flex;
    align-items: baseline;
    /* justify-content: space-between; */
}
.footer__logo {
    margin-bottom: 20px;
}

.footer__address-box {
    flex-grow: 1;
}
.network-box {
    margin-left: 70px;
}
.network-box__title {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
}

