.footer {
    background-color: var(--accent-bgd-color);
    margin: 0 auto;
    padding: 60px 0;
}
.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0px;
}
.address__item:not(:last-child) {
    margin-bottom: 9px;
}
.map {
    color: var(--primary-white-color);
}
.mailto,
.tel {
    color: rgba(255, 255, 255, 0.6);
}
.parrent-adress {
    display: flex;
    align-items: baseline;
    /* justify-content: space-between; */
}
.adress-content {
    flex-grow: 1;
}
.join-social {
    margin-left: 70px;
}
.join-social__heading-footer {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
}

