.logo {
    display: block;
    color: var(--hover-and-focus-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-left: 0;
}
.logo__span {
    color: #000000;
}
.logo--main {
    padding: 24px 0 25px 0;
}
.logo__span--main {
    padding: 24px 0 25px 0;
}
.logo--footer {
    margin-bottom: 20px;
}
.logo__span--footer {
    color: var(--primary-white-color);
}